apiVersion: v1
kind: Secret
metadata:
  name: yin-secrets
  namespace: yin-dev
type: Opaque
stringData:
  DISCORD_TOKEN: replace-me
  DISCORD_DEV_GUILD_ID: replace-me
  BETTER_AUTH_SECRET: replace-with-at-least-32-random-characters
  DISCORD_CLIENT_ID: replace-me
  DISCORD_CLIENT_SECRET: replace-me
